# Environment variables for the backend server
PORT=4000
NODE_ENV=development

# Database configuration
FRONTEND_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority

# Resend API Key and email configuration
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxx
NOTIFICATION_EMAIL=your@email.com
FROM_EMAIL=onboarding@resend.dev
